# ignore temporary files/rep
.DS_Store
.apm
.ftpconfig
.freetype
.libpng
log.txt
.node-gyp
nohup.out
old
.queue
._*
refData/*
software/*
intervals/*
input/*
output/*
*.conf
nenufaar.conf
mnenufaar.conf
nenufaar_annot.conf
tests/logs/*
tests/vcf/
divers/*
doc/
utilities/add_omim_deprecated/*
utilities/vcf_compare/*
utilities/bed2intervals.txt
utilities/test_opt.pl
utilities/mark_gene_list/A*
utilities/mark_gene_list/test/*
utilities/create_doc_graphs/*
utilities/change_intervals/
utilities/add_cftr/*
utilities/bed2picardintervals/*
